// Place all the styles related to the application here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html, body, .nav li, .onlyhead {
  background: rgb(254, 191, 4); /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover, rgb(254, 191, 4) 0%, rgb(255, 214, 94) 100%); /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgb(254, 191, 4)), color-stop(100%, rgb(255, 214, 94))); /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover, rgb(254, 191, 4) 0%, rgb(255, 214, 94) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover, rgb(254, 191, 4) 0%, rgb(255, 214, 94) 100%); /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover, rgb(254, 191, 4) 0%, rgb(255, 214, 94) 100%); /* IE10+ */
  background: radial-gradient(center, ellipse cover, rgb(254, 191, 4) 0%, rgb(255, 214, 94) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#febf04', endColorstr = '#ffd65e', GradientType = 1); /* IE6-9 fallback on horizontal gradient */

}

.nav li a:hover {
  background: black;
}

body {
  padding-top: 60px; /* 40px to make the container go all the way to the bottom of the topbar */
}

.container > footer p {
  text-align: center; /* center align it with the container */
}

.container {
/*width: 960px; *//* downsize our container to make the content feel a bit tighter and more cohesive. NOTE: this removes two full columns from the grid, meaning you only go to 14 columns and not 16. */
}

/* The white background content wrapper */
.content {
  background: white;
  padding: 20px;
  margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
  -webkit-border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .15);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .15);
  box-shadow: 0 1px 2px rgba(0, 0, 0, .15);
}

/* Page header tweaks */
.page-header {
  background-color: #000000;
  opacity: 0.6;
  filter: alpha(opacity = 60); /* For IE8 and earlier */

  padding: 20px 20px 10px;
/*padding: 20px;*/

  margin: -20px -20px 20px;

}

.page-header h1 {
  color: white;
}

.topbar .btn {
  border: 0;
}

th {
  border: none;
}

a:hover {
  text-shadow: none;
  background: none;
  text-decoration: none;
  color: #000000;
  font-weight: bold;
}

.nav a:hover {
  background: black;
  text-decoration: none;
  color: white;
}

.nav_link a:hover {
  text-decoration: underline;
  color: white;
}

.table-condensed td {
  border: none;
  padding:0px;
  margin: 0px;
}

tr {
  border: none;
}

input, textarea {
  -moz-transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
  box-shadow: 0 1px 1px inset;
}

label {
  display: inline;
}

tr.even {
  background-color: white;
}

tr.odd {
  background: rgb(252, 234, 187); /* Old browsers */
  background: -moz-linear-gradient(top, rgb(252, 234, 187) 0%, rgb(252, 205, 77) 50%, rgb(251, 223, 147) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(252, 234, 187)), color-stop(50%, rgb(252, 205, 77)), color-stop(100%, rgb(251, 223, 147))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgb(252, 234, 187) 0%, rgb(252, 205, 77) 50%, rgb(251, 223, 147) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgb(252, 234, 187) 0%, rgb(252, 205, 77) 50%, rgb(251, 223, 147) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgb(252, 234, 187) 0%, rgb(252, 205, 77) 50%, rgb(251, 223, 147) 100%); /* IE10+ */
  background: linear-gradient(top, rgb(252, 234, 187) 0%, rgb(252, 205, 77) 50%, rgb(251, 223, 147) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#fceabb', endColorstr = '#fbdf93', GradientType = 0); /* IE6-9 */
  color: black;
}

.ui-widget-header {
background: transparent;
border:none;
}

.center-frame{
  margin-left:20px;
  margin-right:20px;
  height:500px;
}